@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';


.header {
  position: relative;
}

.header__menu {
  font-size: 18px;
  max-width: 1825px;
  margin-right: 51px;
  margin-left: 51px;
  display: flex;
  justify-content: space-between;

  &-links {
    display: flex;
    margin: 10px 0;
  }

  &-text {
    margin-top: 9px;
  }

  &-list {
    display: flex;
  }

  &-item {
    margin-left: 5px;
  }

  &-nav {
    margin: 8px 0 8px 50px;
  }

  &-list-right {
    text-transform: uppercase;
    display: flex;
    width: 572px;
    justify-content: space-between;
    margin: 18px 0;
  }

  &-link-list :hover {
    padding-top: 3px;
    border-bottom: 3px solid $green;
  }
}

.menu-list__item-selected {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}


.menu-tel__list-dropdown {
  padding-top: 10px;
  margin-left: 29px;
}


.header__menu-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.header__menu-nav,
.header__menu-tel,
.menu-tel__list-dropdown {
  display: inline-block;
  background-color: #fff;
}

.header__menu-nav a:hover {
  background-color: #fff;
}



.menu__list-dropdown {
  display: none;
  position: absolute;
  top: 8px;

}


.header__menu-nav,
.header__menu-tel li:hover>.menu__list-dropdown {
  display: inherit;
}


.header__menu-nav,
.header__menu-tel,
.header__menu-tel li {
  width: 181px;
  float: none;
  display: list-item;
  position: relative;
}


.header__menu-nav,
.header__menu-tel,
.header__menu-tel,
.menu__list-dropdown li {
  position: relative;
  list-style-type: none;

}

.header__menu-nav-bottom,
.header__menu-tel-bottom,
.header__menu-tel-bottom li {
  width: auto;
  float: none;
  display: list-item;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 1;
  margin: 8px 0 8px 0px;
}


.menu__inner {
  display: flex;
  justify-content: space-between;
  height: 81px;
  margin: 77px 0 41px 0;
  height: 81px;
  padding-top: 14px;
  background-color: #fff;
}


.menu__box {
  display: flex;
  margin: 11px 0 0 0;
  width: 614px;
  justify-content: space-between;
}

.menu__shopping {
  display: flex;
  width: 410px;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  &-basket {
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: transparent;
    color: #1E2E36;

    img {
      padding: 0 5px 0 0;
    }
  }

  &-btn {
    width: 278px;
    height: 51px;
  }
}


.header__menu-fixed {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 2;
  border-bottom: 3px solid $green
}



.header-backgraund {
  width: 462px;
  height: 670px;
  position: absolute;
  border-left: 15px solid $green;
  background-color: #fff;
  text-align: center;
  margin: 0 0 0 51px;

  &__header {
    font-size: 64px;
    line-height: 100%;
    margin: 100px 0 0 0;
  }

  &__subtitle {
    font-size: 36px;
    line-height: 125%;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 30px 0;
  }

  &__btn {
    width: 209px;
    height: 51px;
    margin: 0 0 50px 0;
  }

  &__num {
    font-weight: 700;
    font-size: 36px;
    line-height: 125%;


    span {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;

    }
  }
}



.arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1e2e36;
  text-align: center;
  padding: 6px;
  margin: 15px 0;
}

.arrow:active {
  background-color: #1E2E36;
  color: #fff;
}

.advantages__title {
  &-top {
    text-decoration-style: 3px solid $green;
    text-decoration: underline;
    text-decoration-color: $green;
  }

  &-drop {
    display: none;
    width: 526px;
    height: 46px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 125%;
    text-decoration: none;

  }
}

.slider {
  background: linear-gradient(0deg, rgba(30, 46, 54, 0.5), rgba(30, 46, 54, 0.5));
  border-radius: 3px;
  max-width: 100%;
}

.advantages__slider {
  display: flex;
  margin: 0 0 50px 0;
  position: relative;
  justify-content: space-between;
}

.advantages__box {
  width: 586px;
  height: 350px;
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.advantages__box:before {
  content: '';
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.advantages__box img {
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.advantages__box .advantages__caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.advantages__box .advantages__caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.advantages__title-top {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}

.advantages__box .advantages__caption .advantages__title-drop {
  line-height: 1.2;
  margin-top: 15px;
  width: 526px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.advantages__box:focus:before,
.advantages__box:focus span,
.advantages__box:hover:before,
.advantages__box:hover span {
  opacity: 1;
}

.advantages__box:focus:before,
.advantages__box:hover:before {
  top: 50%;
}

.advantages__box:focus span,
.advantages__box:hover span {
  top: 0;
}

.advantages__box:focus .advantages__title-top .advantages__title-drop,
.advantages__box:hover .advantages__title-top .advantages__title-drop {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}


.info {
  width: 526px;
}


.arrow-slider {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding: 6px;
  margin: auto;
  position: absolute;
  top: 187px;
  z-index: 1;
}

.left {
  margin-left: 24px;

}

.right {
  margin-right: 24px;


  right: 0;
}

.arrow-slider:active {
  color: #000;
  background-color: #fff;
}

.product__title {
  width: 414px;
  margin: 100px auto 100px auto;
}

.product__list-item {
  width: 100px;
  height: 145px
}

.product__list-icon svg:hover {
  stroke: $green;
  fill: $green;
}

.product__list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.product__list-item:hover {
  border-bottom: 3px solid $green;
}

.product__menu {
  display: flex;
  justify-content: space-around;
  margin: 0 0 87px 0;
}

.product__katalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product__katalog-top {
  text-transform: uppercase;
  width: 586px;
  position: relative;
  margin: 50px 0 0 0;
  color: #1E2E36;

  &-new {
    text-align: center;
    font-size: 18px;
    line-height: 125%;
    padding: 5px 15px;
    width: 143px;
    height: 33px;
    background: #1E2E36;
    color: #fff;
    position: absolute;
    top: 15px;
  }

  &-sale {
    text-align: center;
    font-size: 18px;
    line-height: 125%;
    padding: 5px 15px;
    width: 84px;
    height: 33px;
    background: #FF1B1B;
    color: #fff;
    margin: 5px 0 0 0;
    position: absolute;
    top: 50px;
  }



  &-title {
    font-size: 24px;
    line-height: 125%;

  }

  &-price {
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;


    span {
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: #BCBDBB;
      margin: 0 0 0 10px;
      font-size: 18px;
    }
  }
}

.product__katalog-name {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 15px 15px;
}

.product__katalog-top:hover {
  background: #44C697;
  color: #fff !important;
}

.katalog-top-price {
  color: #FF1B1B;
}

.katalog-top-price:hover {
  color: #fff;
}


.about__content-box {
  position: absolute;
  top: 100px;
  width: 791px;
  height: 500px;
  background: #FFFFFF;
  border-right: 15px solid $green;
}

.about__content-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #1E2E36;
  width: 710px;
  margin: 50px 0 50px 0;
}

.about__content {
  position: relative;
  overflow: hidden;
}

.about__content-p span {
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  text-transform: uppercase;
  color: $green;
}

.about__content-img {
  float: right
}

.question__content-forms-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  text-align: center;
  color: #1E2E36;
  margin: 50px 0 30px 0px;
  width: 384px;
}

.question__forms {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  color: #1E2E36;
  width: auto;

  &-name {
    padding: 15px 0 15px 15px;
    width: 432px;
    margin: 0 0 15px 0;
    border: 1px solid #1E2E36;
    border-radius: 3px;
  }

  &-tel {
    padding: 15px 0 15px 15px;
    width: 432px;
    margin: 0 0 15px 0;
    border: 1px solid #1E2E36;
    border-radius: 3px;
  }
}

.question__content-forms-btn {
  padding: 15px 0 15px 0;
  width: inherit;
}

.question__content-box {
  width: 513px;
  height: 457px;
  background: #FFFFFF;
  position: absolute;
  top: 100px;
  border-left: 15px solid $green;
  right: 0;
}

.question__content {
  position: relative;
  overflow: hidden;
  margin: 0 0 110px 0;
}

.question__content-forms {
  width: 432px;
  margin: 0 30px 0 30px;
}

.question__content-forms-text {
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;

  span {
    font-weight: 700;
  }
}

.footer {
  background: #1E2E36;
  color: #fff;
  background-image: url(../img/footer-1.png);
  background-repeat: no-repeat;
  background-position: top-center;
  background-size: cover;
}

.container__footer {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.footer__inner {
  width: 886px;
  background-color: #1E2E36;
}

.fosoter__inner {

  width: 831px;
}

.footer__logo {
  padding: 50px;
}

.footer__menu {
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  width: 551px;

  span {
    color: $green;
  }

  a {
    display: flex;
  }

  &-li {
    margin-bottom: 15px;
    color: #fff;
  }
}

.footer__content {
  display: flex;
}

.footer__information {
  color: #fff;
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 276px;
  margin: 0 100px 0 0;

  &-telephone {

    width: 178px;
  }

  &-tel {
    color: $green;
    display: block;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
  }

  &-social {
    width: 254px;

  }
}


.footer__information-tel-2 {
  display: flex;
  justify-content: flex-end;
}



.footer-desc {
  width: 866px;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  font-family: 'Montserrat',
    sans-serif;
  justify-content: space-around;

  p {
    display: flex;
    align-items: flex-end;
    width: 321px;
    justify-content: space-between;
  }
}

.advantages__box {
  width: 586px;
  height: 350px;
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.advantages__box:before {
  content: '';
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.advantages__box img {
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.advantages__box .advantages__caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.advantages__box .advantages__caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


.advantages__title-top {
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}

.advantages__box .advantages__caption .advantages__title-drop {
  line-height: 1.2;
  margin-top: 15px;
  width: 526px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.advantages__box:focus:before,
.advantages__box:focus span,
.advantages__box:hover:before,
.advantages__box:hover span {
  opacity: 1;
}

.advantages__box:focus:before,
.advantages__box:hover:before {
  top: 50%;
}

.advantages__box:focus span,
.advantages__box:hover span {
  top: 0;
}

.advantages__box:focus .advantages__title-top .advantages__title-drop,
.advantages__box:hover .advantages__title-top .advantages__title-drop {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

@import "media"