html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Proxima Nova-bold';
    font-weight: 700;
    background-color: #fff;
    color: #1e2e36;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none !important;

}

a {
    display: inline-block;
    text-decoration: none;
    color: #1e2e36;
    cursor: pointer !important;
}

.btn {
    padding: 14px 30px;
    text-transform: uppercase;
    color: #fff;
    background: $green;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 125%;
    border: none;
    cursor: pointer;
}

.btn:active {
    opacity: 0.60;
}

.title {

    width: 530px;
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    margin: 100px auto 100px auto;
}

.title span {
    padding-left: 12px;
    background: linear-gradient(to right, $green 62%, white 50%);
}


.navigation {
    position: absolute;
    top: -32px;
    left: 20px;
}